<html>
    <head>
        <title>Couchly | Couches</title>

        <link rel="stylesheet" href="/css/coach.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    </head>
    <body>
        <%- include('../partials/lang') %>

      <%- include('../partials/nav') %>
      <table>
        <tr>
            <h1>Couches</h1>
            <div class="products">
                <% for (var i = 0; i < products.length; i += 4) { %>
                    <tr>
                        <% for (var j = i; j < i + 4 && j < products.length; j++) { %>
                            <td>
                                <div class="prod">
                                    <a href="/description?id=<%= products[j]._id %>">
                                        <img src="/imgs/<%= products[j].image %>" alt="<%= products[j].name %>">
                                    </a>
                                    <div class="design">
                                        <span><%= products[j].category %></span>
                                        <h5><%= products[j].name %></h5>
                                        <h5><%= products[j].price %> EGP</h5>
                                        <a href="/addtocart?id=<%= products[j]._id %>&quantity=">
                                            <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                                        </a>
                                        <a href="/addtowishlist?id=<%= products[j]._id %>&quantity=">
                                            <button class="btn2"><i class="uil uil-heart"></i></button>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </div>
        </tr>
    </table>
        <%- include('../partials/footer') %>
    </body>
</html>
               