<html>
    <head>
        <title>Couchly | Description</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, intial-scale=1.0"/>
        <link rel="stylesheet" href="../css/description.css">
        
    </head>
    <body>

        
        <%- include('../partials/nav') %>


        <div class ="container1">
          <div class="xzoom-container">
            <img src="/imgs/<%= product.image %>" class="xzoom" >
          </div>
          <div class="description">
            <h1><%= product.name %> </h1>
            <p><%= product.description %></p>
            <h2> <%= product.price %> EGP</h2><br>
            <% if(user!==""){%>
            <div class="options">
              <label for="quant">Quantity </label>
              <select name="quant" id="quantity">
                <option value ="1">1</option>
                <option value ="2">2</option>
                <option value ="3">3</option>
                <option value ="4">4</option>
                <option value ="5">5</option>
              </select>
              <br>
            </div>
          
             
                <a href="/addtowishlist?id=<%= product._id %>&quantity=">
                <button >Add to wishlist</button>
                </a>
              
              
                 <a href="/addtocart?id=<%= product._id %>&quantity=" id="add-to-cart">
                 <button class="addCart">Add to cart</button>
                 </a>
              
             
            </div>
            <script>
              const quantitySelect = document.getElementById('quantity');
              const addToCartButton = document.getElementById('add-to-cart');
              addToCartButton.addEventListener('click', (event) => {
                const selectedQuantity = quantitySelect.value;
                addToCartButton.href += selectedQuantity;
              });
            </script>
            <%}%>
          </div>
        </div>
      
        <%- include('../partials/footer') %>

    </body>
</html>