<html>
    <head>
        <title>Couchly | Kitchens</title>

        <link rel="stylesheet" href="/css/kitchens.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    </head>
    <body>
    
        <%- include('../partials/nav') %>

        <table>
            
            <tr>
            <h1>Kitchens</h1>
            <div class="products">
                <% for (var i = 0; i < products.length; i += 4) { %>
                    <tr>
                        <% for (var j = i; j < i + 4 && j < products.length; j++) { %>
                            <td>
                                <div class="prod">
                                    <a href="/description">
                                        <img src="/imgs/<%= products[j].image %>" alt="<%= products[j].name %>">
                                    </a>
                                    <div class="design">
                                        <span><%= products[j].name %></span>
                                        <h5><%= products[j].description %></h5>
                                        <h5><%= products[j].price %> EGP</h5>
                                        <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                                        <button class="btn2"><i class="uil uil-heart"></i></button>
                                    </div>
                                </div>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </div>
        </tr>
    </table>
    <%- include('../partials/footer') %>
</body>
</html>