<html>
    <head>
        <title>Couchly | L-Shapes</title>

        <link rel="stylesheet" href="/css/L-shape.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    </head>
    <body>
    
        <%- include('../partials/nav') %>

        <table>
            
            <tr>
            <h1>L-Shape</h1>
                <div class="products">
                    <% products.forEach(function(product) { %>
                <div class="prod">
                    <a href="/description">
                        <img src="/imgs/<%= product.image %>" alt="<%= product.name %>">
                    </a>
                    <div class="design">
                        <span><%= product.name %></span>
                        <h5><%= product.description %></h5>
                      <h5><%= product.price %></h5>
                      <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
                     
                    </div>
                </div>
                <% }); %>
            </div>
          </tr>
      </table>
      <%- include('../partials/footer') %>
  </body>
  </html>
                


                