<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Store</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="css/myStore.css">
   
</head>
<script>
   document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.delete-btn');

            deleteButtons.forEach((button) => {
                button.addEventListener('click', async (e) => {
                    e.preventDefault();
                    console.log('Delete button clicked'); 
                    const targetButton = e.target.closest('.delete-btn');
                    targetButton.disabled = true; 
                    const id = targetButton.getAttribute('element-id');

                    if (!id) {
                        alert('Error: Product ID is not set.');
                        targetButton.disabled = false; 
                        return;
                    }

                    try {
                        const response = await fetch(`/myStore/delete/${id}`, {
                            method: 'DELETE',
                        });

                        if (response.status === 200) {
                            targetButton.closest('tr').remove();
                            alert('Product deleted successfully');
                        } else {
                            throw new Error('Failed to delete product.');
                        }
                    } catch (error) {
                        alert(error.message);
                        targetButton.disabled = false; 
                    }
                });
            });
        });
</script>
<body>
    <%- include('../partials/adminNav') %>

    <section id="content">

       
        
        <div class="table">
            <div class="table-header">
                <p>My Store</p>
                <div>
                    <form action="/myStore/search" method="GET">
                        <input type="text" name="query" placeholder="Search for product ...">
                        <button type="submit" href="">Search</button>
                        </form>
                    </form>
                </div>
            </div>
            <div class="table-section">
                <table>
                    <thead>
                        <tr>
                           <th>Product name</th>
                           <th>Category</th>
                           <th>Quantity</th>
                           <th>Price</th>
                           <th>Description</th>
                           <th>Image</th>
                           <th>Action</th>
                           
                            
                        </tr>
                    </thead>
                    
                    
            <% product.forEach(element=>{ %>
    <tr>
        <td><%=element.name%></td>
        <td><%=element.category%></td>
        <td><%=element.quantity%></td>
        <td><%=element.price%></td>
        <td><%=element.description%></td>
        <td><img src="/imgs/<%=element.image%>"></td>
        <td>
            <button onclick="location.href='/editproduct'"> <i class='bx bxs-edit-alt' ></i></button>
            <button element-id="<%= element._id %>" class="delete-btn"><i class='bx bxs-trash'></i></button>
        </td>
    </tr>

     <%  }) %>

     <% product1.forEach(element=>{ %>
    <tr>
        <td><%=element.name%></td>
        <td><%=element.category%></td>
        <td><%=element.quantity%></td>
        <td><%=element.price%></td>
        <td><%=element.description%></td>
        <td><img src="/imgs/<%=element.image%>"></td>

        <td>
            <button onclick="location.href='/editproduct'"> <i class='bx bxs-edit-alt' ></i></button>
            <button element-id="<%= element._id %>" class="delete-btn"><i class='bx bxs-trash'></i></button>
        </td>
         </tr>
              
        <%  }) %>
        <% product2.forEach(element=>{ %>
        <tr>
        <td><%=element.name%></td>
        <td><%=element.category%></td>
        <td><%=element.quantity%></td>
        <td><%=element.price%></td>
        <td><%=element.description%></td>
        <td><img src="/imgs/<%=element.image%>"></td>

        <td>
            <button onclick="location.href='/editproduct'"> <i class='bx bxs-edit-alt' ></i></button>
            <button element-id="<%= element._id %>" class="delete-btn"><i class='bx bxs-trash'></i></button>
        </td>
        </tr>
                              
        <%  }) %>
        <% product3.forEach(element=>{ %>
        <tr>
        <td><%=element.name%></td>
        <td><%=element.category%></td>
        <td><%=element.quantity%></td>
        <td><%=element.price%></td>
        <td><%=element.description%></td>
        <td><img src="/imgs/<%=element.image%>"></td>

        <td>
            <button onclick="location.href='/editproduct'"> <i class='bx bxs-edit-alt' ></i></button>
            <button element-id="<%= element._id %>" class="delete-btn"><i class='bx bxs-trash'></i></button>
        </td>
        </tr>                                      
        <%  }) %>
        <% product4.forEach(element=>{ %>
        <tr>
        <td><%=element.name%></td>
        <td><%=element.category%></td>
        <td><%=element.quantity%></td>
        <td><%=element.price%></td>
        <td><%=element.description%></td>
        <td><img src="/imgs/<%=element.image%>"></td>
        <td>
            <button onclick="location.href='/editproduct'"> <i class='bx bxs-edit-alt' ></i></button>
            <button element-id="<%= element._id %>" class="delete-btn"><i class='bx bxs-trash'></i></button>
        </td>
        </tr>                                                      
        <%  }) %>
        <% product5.forEach(element=>{ %>
        <tr>
        <td><%=element.name%></td>
        <td><%=element.category%></td>
        <td><%=element.quantity%></td>
        <td><%=element.price%></td>
        <td><%=element.description%></td>
        <td><img src="/imgs/<%=element.image%>"></td>
        <td>
            <button onclick="location.href='/editproduct'"> <i class='bx bxs-edit-alt' ></i></button>
            <button element-id="<%= element._id %>" class="delete-btn"><i class='bx bxs-trash'></i></button>
        </td>
        </tr>
        
        <%  }) %>
        <% product6.forEach(element=>{ %>
        <tr>
        <td><%=element.name%></td>
        <td><%=element.category%></td>
        <td><%=element.quantity%></td>
        <td><%=element.price%></td>
        <td><%=element.description%></td>
        <td><img src="/imgs/<%=element.image%>"></td>
        <td>
            <button onclick="location.href='/editproduct'"> <i class='bx bxs-edit-alt' ></i></button>
            <button element-id="<%= element._id %>" class="delete-btn"><i class='bx bxs-trash'></i></button>
        </td>
        </tr>
                                                                                              
        <%  }) %>
        <% product7.forEach(element=>{ %>
        <tr>
        <td><%=element.name%></td>
        <td><%=element.category%></td>
        <td><%=element.quantity%></td>
        <td><%=element.price%></td>
        <td><%=element.description%></td>
        <td><img src="/imgs/<%=element.image %>"></td>
        <td>
            <button onclick="location.href='/editproduct'"> <i class='bx bxs-edit-alt' ></i></button>
            <button element-id="<%= element._id %>" class="delete-btn"><i class='bx bxs-trash'></i></button>
        </td>
        </tr>
        <%  }) %>
       </table>
                <div class="pagination">
                    <div><i class='bx bx-chevrons-left' ></i></div>
                    <div><i class='bx bx-chevron-left' ></i></div>
                    <div>1</div>
                    <div>2</div>
                    <div><i class='bx bx-chevron-right' ></i></div>
                    <div><i class='bx bx-chevrons-right' ></i></div>
                </div>
            </div>
        </div>
            
    </section>
        
        
   
     <script src="dashboard.js"></script>
</body>

</html>