<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="/css/removeUser.css">





</head>

<body>
    <%- include('../partials/adminNav') %>

        <section id="content">


            <div class="table">
                <div class="table-header">
                    <p>User detalis</p>
                    <div>
                        <form action="/removeUser/search" method="get">
                            <input type="text" name="query" placeholder="Search for user ...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <div class="table-section">
                    <table>
                        <thead>
                            <tr>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>username</th>
                                <th>Email</th>
                                <th>password</th>
                                <th>Role</th>
                                <th>Action</th>

                            </tr>
                        </thead>

                        <tbody>
                            <% Users.forEach(data=>{ %>
                                <tr>
                                    <td>
                                        <%= data.Firstname %>
                                    </td>
                                    <td>
                                        <%= data.Lastname %>
                                    </td>
                                    <td>
                                        <%= data.Username %>
                                    </td>
                                    <td>
                                        <%= data.email %>
                                    </td>
                                    <td>
                                        <%= data.password %>
                                    </td>
                                    <td>
                                        <%= data.type %>
                                    </td>
                                    <td>
                                        <button data-id="<%= data._id %>" class="edit-btn"><i
                                                class='bx bxs-edit-alt'></i></button>
                                        <button data-id="<%= data._id %>" class="delete-btn"><i
                                                class='bx bxs-trash'></i></button>
                                    </td>
                                </tr>

                                <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <% if (currentPage> 1) { %>
                        <div><a href="?page=1"><i class='bx bx-chevrons-left'></i></a></div>
                        <div><a href="?page=<%= currentPage - 1 %>"><i class='bx bx-chevron-left'></i></a></div>
                        <% } %>
                            <% for (let i=1; i <=totalPages; i++) { %>
                                <div class="<%= currentPage === i ? 'active' : '' %>"><a href="?page=<%= i %>">
                                        <%= i %>
                                    </a></div>
                                <% } %>
                                    <% if (currentPage < totalPages) { %>
                                        <div><a href="?page=<%= currentPage + 1 %>"><i
                                                    class='bx bx-chevron-right'></i></a></div>
                                        <div><a href="?page=<%= totalPages %>"><i class='bx bx-chevrons-right'></i></a>
                                        </div>
                                        <% } %>
                </div>

            </div>
        </section>



        <script src="/js/removeUser.js"></script>
</body>

</html>