<html>
    <head>
        <title>Couchly | Wishlist</title>
        <link rel="stylesheet" href="/css/wishlist.css">
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
               

    </head>
    <body>
        <%- include('../partials/nav') %>

    
        <section id="wish">
            <h1>My Wishlist</h1>
            
            <div class = "wishTable">
                
                <table width="100%">
                    
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Price</th>
                        <th>Condition</th>
                        
                      
                       </tr>
                    <% if (items.length === 0) { %>
                        <p>Your wishlist is empty.</p>
                    <% }else { %>
                        <% items.forEach(item=> { %>
                    <tr>   
                        <td><img src="/imgs/<%= item.image %>"  width="120"height="120"></td>
                        <td><%= item.name %></td>
                        <td><%= item.price %></td>
                        <td><%= item.quantity %></td>

               <td>
                <a href="/cart"> 
                         <button>Add to cart</button> 
                           </a>
                           <a href="">
                              <button>Remove</button></td>
                           </a>
               </td>
                    
                       
                         <br>
                         <br>
                  
                   
                    </tr>
                     <% }); %>
                    <% } %>
                </table> 
                
               
            </div>

            <form method="POST" action="/wishlist?_method=DELETE">
                <button class="delbutton">Delete wishlist</button>
              </form>
          

        
        </section>

          
       
     
        

<%- include('../partials/footer') %>

    </body>


                
</html>                